html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3498db;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  width: 40%;
  padding: 15px;
  box-shadow: 0 0 5px gray;
  background-color: white;
  border-radius: 5px;
}

.row {
  margin: 30px;
  margin-left: 0;
}

.btn{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  color:#fff;
  font-size: 25px;
  background-color: #3498db;
}
